.resume-skill
  .row
    .column.small-8.medium-4
      .meter
        input(type="text" value="640" class="dial")
        img.meter-arrow(src="images/meter-arrow.png", alt="")
    .column.small-8.medium-4
      .title Мой уровень владения
        br
        |Java Script
      .counter
