.resume-info
  img.stamp(src="/images/stamp.png", alt="")
  .row
    .column.small-8.medium-2
      .img: img(src="/images/ya.jpg", alt="")
        
    .column.small-8.medium-6
      ul.no-bullet
        li Артём
        li 21.12.1979
        li Казань
        li Email: 
          a(href="mailto:ar.kormishin@yandex.ru") ar.kormishin@yandex.ru
          br
          |Skype: artkor8
        
hr
