.resume-info
  .row
    .column.small-2
      .img: img(src="", alt="")
        
    .column.small-6
      ul.no-bullet
        li Артём
        li 21.12.1979
        li Казань
        li Email: ar.kormishin@yandex.ru <br>Skype: artkor8
        
hr
